*.gz
*.log
Dokumenter/System requirement specification/Rapport.pdf
Dokumenter/Concept of operation/Rapport.tex
*.aux
*.aux
*.gz
Dokumenter/Concept of operation/Rapport.toc
Dokumenter/Concept of operation/Rapport.pdf
*.out
*.aux
*.aux
Dokumenter/Concept of operation/Rapport.aux